
    
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure>
                            <%= image_tag(@product.image, draggable: "false", id: "drag5", alt: "picture") %>
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        
                        <section class="section">
                         <div class="columns">
                            <div class="column is-8 is-offset-2">
                            <div class="content is-medium">
                               
                                <h1 class="title"><%= @product.name%></h1>
                                <h5>price <%= @product.price%></h5>                                
                                <p><%= @product.description%></p>

                                <p>quantity available: <%= @product.quantity_available%></p>
                                    <% if cart.include?(@product) %>
                                        <%= button_to cart_path(@product), method: :delete do %>
                                        Remove From Cart
                                        <% end %>
                                    <% else %>
                                        <%= form_with  url: cart_index_path, method: :post do %>
                                        <%= hidden_field_tag(:id, @product.id) %>
                                        <%= button_tag 'Add to Cart' %>
                                        <% end %>
                                    <% end %>
                                    <%= form_with url: checkout_create_path, remote: true do %>
                                        <%= hidden_field_tag(:product_id, product.id) %>
                                        <%= button_tag 'Buy Now 💳' %>
                                    <% end %>
                            </div>
                            </div>
                        </div>
                        </section>

                        

                        
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a>End of Page</a></li>
                    </ul>
                </div>
            </div>
        </div>
