<nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <%= image_tag('GloveIcon.png', draggable: "false", id: "drag2", alt: "Edit Entry") %>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class=" navbar-item">
          
            <div class="control has-icons-left">
             <%= form_with(url: search_products_path, method: :get, local: true ) do %>
             <%= text_field_tag(:keywords, nil, class: "input is-rounded", placeholder: 'Search for Champions') %> 
             <%= submit_tag("Search", class: "button is primary") %><% end %>
             
              
              <span class="icon is-left">
                <i class="fa fa-search"></i>
              </span>
            </div>
            
                
                
            
            </div>
          <div class="navbar-end">
            <%= link_to 'Home', home_page_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
            <%= link_to 'Shop', products_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
            <%= link_to 'Boxing Gloves', boxing_gloves_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
            <%= link_to 'Boxing Gear', boxing_gears_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
            <%= link_to 'Boxing Shoes', boxing_shoes_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>

            <%= link_to 'Punching Bags', punching_bags_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
            <%= link_to 'AboutUs', about_us_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
          </div>
        </div>
      </div>
    </nav>
    <nav>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
      <% end %>
        <%= link_to image_tag("cart.jpg", width:60), root_path %>
        <ul>
          <li>
            Cart
            <% if cart.present? %>
            
              <sup><%= cart.size %></sup>
              <div class="dropdown is-active">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                    <span>Items</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <ul>
                        
                        <% cart.each do |product| %>
                          <li>
                            <%= product.name %> <%= button_to cart_path(product), method: :delete do %>
                                Remove
                            <% end %>
                            
                          </li>
                          <hr class="dropdown-divider">
                          
                          
                        <% end %>
                        <li>
                             <%= button_to "Buy Now", cart_index_path %>
                            
                          </li>
                    </div>
                  </div>
                </div>
              </div>
              
            <% end %>
            
          </li>
          
        </ul>
        
      </nav>