<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectEccommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <%= image_tag('GloveIcon.png', draggable: "false", id: "drag2", alt: "Edit Entry") %>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class=" navbar-item">
          
            <div class="control has-icons-left">
             <%= form_with(url: search_products_path, method: :get, local: true ) do %>
             <%= text_field_tag(:keywords, nil, class: "input is-rounded", placeholder: 'Search for Champions') %> 
             <%= submit_tag("Search", class: "button is primary") %><% end %>
             
              
              <span class="icon is-left">
                <i class="fa fa-search"></i>
              </span>
            </div>
            
                
                
            
            </div>
          <div class="navbar-end">
            <%= link_to 'Home', home_page_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
            <%= link_to 'Shop', products_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
            <%= link_to 'Boxing Gloves', boxing_gloves_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
            <%= link_to 'Boxing Gear', boxing_gears_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
            <%= link_to 'Boxing Shoes', boxing_shoes_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>

            <%= link_to 'Punching Bags', punching_bags_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
            <%= link_to 'AboutUs', about_us_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
